/** fonts */
/** fonts tablet 768px*/
/** fonts mobile 560px*/
body {
  background: #000;
  margin: 0;
}
body * {
  box-sizing: border-box;
}

.sectionHeader {
  padding: 48px 0 0;
  position: relative;
  width: 100%;
}
.sectionHeader .sectionHeader-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 64px;
  margin: 0 auto;
  min-width: 467px;
  position: relative;
  width: 467px;
  z-index: 9;
}
.sectionHeader .sectionHeader-logo img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.sectionHeader h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  margin: 56px auto 0;
  position: relative;
  text-align: center;
  z-index: 9;
}
.sectionHeader h1 span {
  color: #fff;
  position: relative;
}
.sectionHeader h1 span::before {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sectionHeader .sectionHeader-video {
  margin: -15% auto 0;
  width: 100%;
}
.sectionHeader .sectionHeader-video768 {
  display: none;
}

.sectionQuote {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionQuote h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin: 0 auto;
  max-width: 704px;
  text-align: center;
}
.sectionQuote h3 span {
  color: #fff;
  position: relative;
}
.sectionQuote h3 span::before {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionLearningCloud {
  padding: 0 0 180px;
  position: relative;
}
.sectionLearningCloud .sectionLearningCloud-info {
  align-items: center;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.sectionLearningCloud .sectionLearningCloud-info .sectionLearningCloud-logo {
  align-items: center;
  display: flex;
  gap: 12px;
}
.sectionLearningCloud .sectionLearningCloud-info .sectionLearningCloud-logo .sectionLearningCloud-logo__image {
  height: 60px;
  min-width: 365px;
  width: 365px;
}
.sectionLearningCloud .sectionLearningCloud-info .sectionLearningCloud-logo .sectionLearningCloud-logo__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.sectionLearningCloud .sectionLearningCloud-info h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin: 0 auto;
  max-width: 704px;
  text-align: center;
}
.sectionLearningCloud .sectionLearningCloud-info h3 span {
  color: #fff;
  position: relative;
}
.sectionLearningCloud .sectionLearningCloud-info h3 span::before {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sectionLearningCloud .sectionLearningCloud-image {
  margin: -160px auto 0;
}
.sectionLearningCloud .sectionLearningCloud-image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.sectionLearningCloud .sectionLearningCloud-footer {
  align-items: center;
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.sectionLearningCloud .sectionLearningCloud-footer h4 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin: 0 auto;
  text-align: center;
}
.sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 370px;
  padding: 24px;
  box-sizing: border-box;
}
.sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi .sectionLearningCloud-kpi__image {
  height: 112px;
  min-width: 112px;
  width: 112px;
}
.sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi .sectionLearningCloud-kpi__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 auto;
  text-align: center;
}
.sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi p {
  color: #888;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
}

.sectionVideo {
  position: relative;
}
.sectionVideo video {
  width: 100%;
}

.sectionLearningStudio {
  padding: 180px 0;
  position: relative;
}
.sectionLearningStudio .sectionLearningStudio-info {
  align-items: center;
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: 0 32px;
}
.sectionLearningStudio .sectionLearningStudio-info .sectionLearningStudio-logo {
  align-items: center;
  display: flex;
  gap: 12px;
}
.sectionLearningStudio .sectionLearningStudio-info .sectionLearningStudio-logo .sectionLearningStudio-logo__image {
  height: 47px;
  min-width: 394px;
  width: 394px;
}
.sectionLearningStudio .sectionLearningStudio-info .sectionLearningStudio-logo .sectionLearningStudio-logo__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.sectionLearningStudio .sectionLearningStudio-info h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin: 0 auto;
  text-align: center;
}
.sectionLearningStudio .slider {
  margin: auto;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  width: 100%;
}
.sectionLearningStudio .slider .flashes {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 663px;
  width: 100%;
}
.sectionLearningStudio .slider .flashes .left, .sectionLearningStudio .slider .flashes .right {
  background-color: #FF00AA;
  width: 300px;
  height: 400px;
  border-radius: 50%;
  filter: blur(125px);
}
.sectionLearningStudio .slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: 5900px;
}
.sectionLearningStudio .slider .slide {
  height: 663px;
  width: 590px;
}
.sectionLearningStudio .slider560 {
  display: none;
}
.sectionLearningStudio .sectionLearningStudio-footer {
  align-items: center;
  display: flex;
  gap: 72px;
  flex-direction: column;
  padding: 0 32px;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts {
  align-items: center;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 auto;
  text-align: center;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts h3 span {
  color: #fff;
  position: relative;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts h3 span::before {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts p {
  color: #888;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts p span {
  color: #fff;
  font-weight: 700;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 370px;
  padding: 24px;
  box-sizing: border-box;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi .sectionLearningStudio-kpi__image {
  height: 112px;
  min-width: 112px;
  width: 112px;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi .sectionLearningStudio-kpi__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 700;
  height: 112px;
  line-height: 112px;
  margin: 0 auto;
  text-align: center;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi h2 span {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
}
.sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi p {
  color: #888;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2950px);
  }
}
.sectionClients {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 0 180px;
  position: relative;
  width: 100%;
}
.sectionClients h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 76px;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
}
.sectionClients h3 span {
  color: #fff;
  position: relative;
}
.sectionClients h3 span::before {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sectionClients .sectionClients-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  padding: 64px 32px 0;
}
.sectionClients .sectionClients-logos .sectionClients-logos__image {
  height: 76px;
  width: auto;
}
.sectionClients .sectionClients-logos .sectionClients-logos__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.sectionClients .sectionClients-cities {
  height: 72px;
  overflow: hidden;
  padding: 42px 0 0;
  position: relative;
  width: 100%;
}
.sectionClients .sectionClients-cities .sectionClients-cities--text {
  margin: 0 auto;
  white-space: nowrap;
  position: absolute;
}
.sectionClients .sectionClients-cities .sectionClients-cities--text span {
  animation: clientsAnimation 32s linear infinite;
  display: inline-block;
  padding-left: 100%;
}
.sectionClients .sectionClients-cities .sectionClients-cities--text span label {
  color: #888;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 12px;
}
.sectionClients .sectionClients-cities .sectionClients-cities--text2 span {
  animation-delay: 16s;
}

@keyframes clientsAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.sectionFooterImage {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.sectionFooterImage .sectionFooterImage-info {
  left: 50%;
  margin-right: -50% !important;
  padding: 0 !important;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__image {
  height: 224px;
  width: auto;
}
.sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.sectionFooterImage .sectionFooterImage-info .separator {
  display: none;
}
.sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__texts {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 112px 0 0 0;
}
.sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__texts .sectionFooter__image {
  height: 40px;
  width: auto;
}
.sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__texts .sectionFooter__image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__texts span {
  color: #fff;
  height: 48px;
  width: 1px;
  background-color: #fff;
}
.sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__texts .sectionFooter__link {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .sectionHeader {
    height: auto;
  }
  .sectionHeader h1 {
    font-size: 64px;
    line-height: 72px;
    margin: 80px auto 0;
    width: 80%;
    z-index: 9;
    padding: 0 32px;
    position: relative;
    top: 0;
  }
  .sectionHeader .sectionHeader-video {
    display: none;
  }
  .sectionHeader .sectionHeader-video768 {
    display: block;
    margin: -6% auto 0;
    width: 100%;
  }
  .sectionQuote {
    padding: 300px 32px;
  }
  .sectionQuote h3 {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    max-width: 88%;
  }
  .sectionLearningCloud .sectionLearningCloud-info {
    padding: 0 32px;
  }
  .sectionLearningCloud .sectionLearningCloud-info h3 {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
    max-width: 88%;
  }
  .sectionLearningCloud .sectionLearningCloud-image img {
    object-fit: cover;
  }
  .sectionLearningCloud .sectionLearningCloud-footer h4 {
    font-size: 42px;
    line-height: 48px;
    max-width: 76%;
  }
  .sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis {
    gap: 0;
  }
  .sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi {
    max-width: 348px;
  }
  .sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi h2 {
    font-size: 56px;
    line-height: 64px;
  }
  .sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi p {
    font-size: 32px;
    line-height: 40px;
  }
  .sectionLearningStudio .sectionLearningStudio-info h3 {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts h3 {
    font-size: 56px;
    line-height: 64px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts p {
    font-size: 32px;
    line-height: 40px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis {
    gap: 0;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi {
    max-width: 328px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi h2 {
    font-size: 56px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi p {
    font-size: 32px;
    line-height: 40px;
  }
  .sectionClients {
    height: auto;
  }
  .sectionClients h3 {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
  }
  .sectionClients .sectionClients-logos {
    padding: 104px 32px 0;
  }
  .sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__image {
    height: 176px;
  }
  .sectionFooterImage .sectionFooterImage-info .separator {
    background-color: #fff;
    display: block;
    height: 1px;
    margin: 112px 0;
    width: 48px;
  }
  .sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__texts {
    flex-direction: column;
    margin: 0;
  }
  .sectionFooterImage .sectionFooterImage-info .sectionFooterImage-info__texts span {
    display: none;
  }
}
@media (max-width: 560px) {
  .sectionHeader h1 {
    font-size: 40px;
    line-height: 48px;
    margin: 64px auto 0;
    width: 100%;
  }
  .sectionHeader .sectionHeader-logo {
    height: 40px;
    min-width: 300px;
    width: 300px;
  }
  .sectionHeader .sectionHeader-video768 {
    margin: 42px auto 0;
  }
  .sectionQuote {
    padding: 0 32px;
  }
  .sectionQuote h3 {
    max-width: 100%;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  .sectionLearningCloud .sectionLearningCloud-info .sectionLearningCloud-logo .sectionLearningCloud-logo__image {
    height: 40px;
    min-width: 244px;
    width: 244px;
  }
  .sectionLearningCloud .sectionLearningCloud-info h3 {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
  .sectionLearningCloud .sectionLearningCloud-footer h4 {
    font-size: 24px;
    line-height: 32px;
    max-width: 100%;
    padding: 0 32px;
  }
  .sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .sectionLearningCloud .sectionLearningCloud-footer .sectionLearningCloud-kpis .sectionLearningCloud-kpi p {
    font-size: 20px;
    line-height: 28px;
  }
  .sectionLearningStudio .sectionLearningStudio-info .sectionLearningStudio-logo .sectionLearningStudio-logo__image {
    height: 40px;
    min-width: 320px;
    width: 320px;
  }
  .sectionLearningStudio .sectionLearningStudio-info h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .sectionLearningStudio .slider {
    display: none;
  }
  .sectionLearningStudio .slider560 {
    display: block;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
    position: relative;
    width: 100%;
  }
  .sectionLearningStudio .slider560 .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: 4430px;
  }
  .sectionLearningStudio .slider560 .slide {
    height: 497px;
    width: 443px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-footer-texts p {
    font-size: 20px;
    line-height: 28px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi h2 {
    font-size: 32px;
  }
  .sectionLearningStudio .sectionLearningStudio-footer .sectionLearningStudio-kpis .sectionLearningStudio-kpi p {
    font-size: 20px;
    line-height: 28px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2215px);
    }
  }
  .sectionClients h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated-element {
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 1.35s ease-in;
  animation-fill-mode: forwards;
}

.fadeInUp {
  animation: fadeInUp 0.5s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.fadeInDown {
  animation: fadeInDown 1.35s ease-in;
  animation-fill-mode: forwards;
}