/** fonts */
$font-size-h1: 56px;
$line-height-h1: 64px;
$font-size-h3: 40px;
$line-height-h3: 48px;
$font-size-h4: 40px;
$line-height-h4: 48px;
$font-size-p: 16px;
$line-height-p: 24px;

/** fonts tablet 768px*/
$font-size-h1-md: 64px;
$line-height-h1-md: 72px;
$font-size-h3-md: 56px;
$line-height-h3-md: 64px;
$font-size-h4-md: 42px;
$line-height-h4-md: 48px;
$font-size-p-md: 32px;
$line-height-p-md: 40px;

/** fonts mobile 560px*/
$font-size-h1-xs: 40px;
$line-height-h1-xs: 48px;
$font-size-h3-xs: 32px;
$line-height-h3-xs: 40px;
$font-size-h4-xs: 24px;
$line-height-h4-xs: 32px;
$font-size-p-xs: 20px;
$line-height-p-xs: 28px;

body{
    background: #000;
    margin: 0;
    *{
        box-sizing: border-box;
    }
}
.sectionHeader{
    padding: 48px 0 0;
    position: relative;
    width: 100%;
    .sectionHeader-logo{
        align-items: center;
        display: flex;
        justify-content: center;
        height: 64px;
        margin: 0 auto;
        min-width: 467px;
        position: relative;
        width: 467px;
        z-index: 9;
        img{
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    h1{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: $font-size-h1;
        font-weight: 700;
        line-height: $line-height-h1;
        margin: 56px auto 0;
        position: relative;
        text-align: center;
        z-index: 9;
        span{
            color: #fff;
            position: relative;
            &::before{
                background: linear-gradient(90deg, var(--start-color), var(--end-color)); 
                content: var(--content);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .sectionHeader-video{
        margin: -15% auto 0;
        width: 100%;
    }
    .sectionHeader-video768{
        display: none;
    }
}
.sectionQuote{
    height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: $font-size-h3;
        font-weight: 500;
        line-height: $line-height-h3;
        margin: 0 auto;
        max-width: 704px;
        text-align: center;
        span{
            color: #fff;
            position: relative;
            &::before{
                background: linear-gradient(90deg, var(--start-color), var(--end-color)); 
                content: var(--content);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
.sectionLearningCloud{
    padding: 0 0 180px;
    position: relative;
    .sectionLearningCloud-info{
        align-items: center;
        display: flex;
        gap: 24px;
        flex-direction: column;
        .sectionLearningCloud-logo{
            align-items: center;
            display: flex;
            gap: 12px;
            .sectionLearningCloud-logo__image{
                height: 60px;
                min-width: 365px;
                width: 365px;
                img{
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        h3{
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: $font-size-h3;
            font-weight: 500;
            line-height: $line-height-h3;
            margin: 0 auto;
            max-width: 704px;
            text-align: center;
            span{
                color: #fff;
                position: relative;
                &::before{
                    background: linear-gradient(90deg, var(--start-color), var(--end-color)); 
                    content: var(--content);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
    .sectionLearningCloud-image{
        margin: -160px auto 0;
        img{
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
    .sectionLearningCloud-footer{
        align-items: center;
        display: flex;
        gap: 72px;
        flex-direction: column;
        h4{
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: $font-size-h3;
            font-weight: 500;
            line-height: $line-height-h3;
            margin: 0 auto;
            text-align: center;
        }
        .sectionLearningCloud-kpis{
            align-items: top;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            .sectionLearningCloud-kpi{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                max-width: 370px;
                padding: 24px;
                box-sizing: border-box;
                .sectionLearningCloud-kpi__image{
                    height: 112px;
                    min-width: 112px;
                    width: 112px;
                    img{
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }
                }
                h2{
                    color: #fff;
                    font-family: 'Poppins', sans-serif;
                    font-size: $font-size-h1;
                    font-weight: 700;
                    line-height: $line-height-h1;
                    margin: 0 auto;
                    text-align: center;
                }
                p{
                    color: #888;
                    font-family: 'Poppins', sans-serif;
                    font-size: $font-size-p;
                    font-weight: 400;
                    line-height: $line-height-p;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}
.sectionVideo{
    position: relative;
    video{
        width: 100%;
    }
}
.sectionLearningStudio{
    padding: 180px 0;
    position: relative;
    .sectionLearningStudio-info{
        align-items: center;
        display: flex;
        gap: 24px;
        flex-direction: column;
        padding: 0 32px;
        .sectionLearningStudio-logo{
            align-items: center;
            display: flex;
            gap: 12px;
            .sectionLearningStudio-logo__image{
                height: 47px;
                min-width: 394px;
                width: 394px;
                img{
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        h3{
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: $font-size-h3;
            font-weight: 500;
            line-height: $line-height-h3;
            margin: 0 auto;
            text-align: center;
        }
    }
    .slider {
        margin: auto;
        overflow:hidden;
        padding: 100px 0;
        position: relative;
        width: 100%;
        .flashes {
            position: absolute;
            display: flex;
            justify-content:space-between;
            align-items: center;
            height: 663px;
            width: 100%;
            .left,.right {
                background-color: #FF00AA;
                width: 300px;
                height: 400px;
                border-radius: 50%;
                filter:blur(125px);
            }
        }
        .slide-track {
            animation: scroll 20s linear infinite;
            display: flex;
            width: calc(590px * 10);
        }
        .slide {
            height: 663px;
            width: 590px;
        }
    }
    .slider560{
        display: none;
    }
    .sectionLearningStudio-footer{
        align-items: center;
        display: flex;
        gap: 72px;
        flex-direction: column;
        padding: 0 32px;
        .sectionLearningStudio-footer-texts{
            align-items: center;
            display: flex;
            gap: 12px;
            flex-direction: column;
            h3{
                color: #fff;
                font-family: 'Poppins', sans-serif;
                font-size: $font-size-h1;
                font-weight: 700;
                line-height: $line-height-h1;
                margin: 0 auto;
                text-align: center;
                span{
                    color: #fff;
                    position: relative;
                    &::before{
                        background: linear-gradient(90deg, var(--start-color), var(--end-color)); 
                        content: var(--content);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            p{
                color: #888;
                font-family: 'Poppins', sans-serif;
                font-size: $font-size-p;
                font-weight: 400;
                line-height: $line-height-p;
                margin: 0 auto;
                text-align: center;
                span{
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
        .sectionLearningStudio-kpis{
            align-items: top;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            .sectionLearningStudio-kpi{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                max-width: 370px;
                padding: 24px;
                box-sizing: border-box;
                .sectionLearningStudio-kpi__image{
                    height: 112px;
                    min-width: 112px;
                    width: 112px;
                    img{
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }
                }
                h2{
                    color: #fff;
                    font-family: 'Poppins', sans-serif;
                    font-size: $font-size-h1;
                    font-weight: 700;
                    height: 112px;
                    line-height: 112px;
                    margin: 0 auto;
                    text-align: center;
                    span{
                        font-size: 36px;
                        font-weight: 400;
                        line-height: 48px;    
                    }
                }
                p{
                    color: #888;
                    font-family: 'Poppins', sans-serif;
                    font-size: $font-size-p;
                    font-weight: 400;
                    line-height: $line-height-p;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-590px * 5))}
}
.sectionClients{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 0 0 180px;
    position: relative;
    width: 100%;
    h3{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 54px;
        font-weight: 700;
        line-height: 76px;
        margin: 0 auto;
        padding: 0 32px;
        text-align: center;
        span{
            color: #fff;
            position: relative;
            &::before{
                background: linear-gradient(90deg, var(--start-color), var(--end-color)); 
                content: var(--content);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .sectionClients-logos{
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
        padding: 64px 32px 0;
        .sectionClients-logos__image{
            height: 76px;
            width: auto;
            img{
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .sectionClients-cities{
        height: 72px;
        overflow: hidden;
        padding: 42px 0 0;
        position: relative;
        width: 100%;
        .sectionClients-cities--text {
            margin: 0 auto;
            white-space: nowrap;
            position: absolute;
            span {
                animation: clientsAnimation 32s linear infinite;
                display: inline-block;
                padding-left: 100%;
                label{
                    color: #888;
                    font-family: 'Poppins', sans-serif;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 28px;
                    padding: 0 12px;
                }
            }
        }
        .sectionClients-cities--text2{
            span {
                animation-delay: 16s;
            }
        } 
    }
    
}
@keyframes clientsAnimation {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}
.sectionFooterImage{
    background-size: cover; 
    background-position: center;
    height: 100vh;
    position: relative;
    width: 100%;
    .sectionFooterImage-info{
        left: 50%;
        margin-right: -50% !important;
        padding: 0 !important;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sectionFooterImage-info__image{
            height: 224px;
            width: auto;
            img{
                height: 100%;
                object-fit: contain;
                width: 100%; 
            }
        }
        .separator{
            display: none;
        }
        .sectionFooterImage-info__texts{
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 32px;
            margin: 112px 0 0 0;
            .sectionFooter__image{
                height: 40px;
                width: auto;
                img{
                    height: 100%;
                    object-fit: contain;
                    width: 100%; 
                }
            }
            span{
                color: #fff;
                height: 48px;
                width: 1px;
                background-color: #fff;  
            }
            .sectionFooter__link{
                color: #fff;
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: $line-height-p;
                text-decoration: none;
            }
        }
    }
}
  
@media (max-width: 768px) {
    .sectionHeader{
        height: auto;
        h1{
            font-size: $font-size-h1-md;
            line-height: $line-height-h1-md;
            margin: 80px auto 0;
            width: 80%;
            z-index: 9;
            padding: 0 32px;
            position: relative;
            top: 0;
        }
        .sectionHeader-video{
            display: none;
        }
        .sectionHeader-video768{
            display: block;
            margin: -6% auto 0;
            width: 100%;
        }
    }
    .sectionQuote{
        padding: 300px 32px;
        h3{
            font-size: $font-size-h3-md;
            font-weight: 700;
            line-height: $line-height-h3-md;
            max-width: 88%;
        }
    }
    .sectionLearningCloud{
        .sectionLearningCloud-info{
            padding: 0 32px;
            h3{
                font-size: $font-size-h3-md;
                line-height: $line-height-h3-md;
                font-weight: 700;
                max-width: 88%;
            }
        }
        .sectionLearningCloud-image{
            img{
                object-fit: cover;
            }
        }
        .sectionLearningCloud-footer{
            h4{
                font-size: $font-size-h4-md;
                line-height: $line-height-h4-md;
                max-width: 76%;
            }
            .sectionLearningCloud-kpis{
                gap: 0;
                .sectionLearningCloud-kpi{
                    max-width: 348px;
                    h2{
                        font-size: $font-size-h3-md;
                        line-height: $line-height-h3-md;
                    }
                    p{
                        font-size: $font-size-p-md;
                        line-height: $line-height-p-md;
                    }
                }
            }
        }
    }
    .sectionLearningStudio{
        .sectionLearningStudio-info{
            h3{
                font-size: $font-size-h3-md;
                font-weight: 700;
                line-height: $line-height-h3-md;
            }
        }
        .sectionLearningStudio-footer{
            .sectionLearningStudio-footer-texts{
                h3{
                    font-size: $font-size-h3-md;
                    line-height: $line-height-h3-md;
                }
                p{
                    font-size: $font-size-p-md;
                    line-height: $line-height-p-md;
                }
            }
            .sectionLearningStudio-kpis{
                gap: 0;
                .sectionLearningStudio-kpi{
                    max-width: 328px;
                    h2{
                        font-size: $font-size-h3-md;
                    }
                    p{
                        font-size: $font-size-p-md;
                        line-height: $line-height-p-md;
                    }
                }
            }
        }
    }
    .sectionClients{
        height: auto;
        h3{
            font-size: $font-size-h3-md;        
            font-weight: 700;
            line-height: $line-height-h3-md;
        }
        .sectionClients-logos{
            padding: 104px 32px 0;
        }
    }
    .sectionFooterImage{
        .sectionFooterImage-info{
            .sectionFooterImage-info__image{
                height: 176px;
            }
            .separator{
                background-color: #fff;
                display: block;
                height: 1px;
                margin: 112px 0;
                width: 48px;
            }
            .sectionFooterImage-info__texts{
                flex-direction: column;
                margin: 0;
                span{
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 560px) {
    .sectionHeader{
        h1{
            font-size: $font-size-h1-xs;
            line-height: $line-height-h1-xs;
            margin: 64px auto 0;
            width: 100%;
        }
        .sectionHeader-logo{
            height: 40px;
            min-width: 300px;
            width: 300px;
        }
        .sectionHeader-video768{
            margin: 42px auto 0;
        }
    }
    .sectionQuote{
        padding: 0 32px;
        h3{
            max-width: 100%;
            font-size: $font-size-h3-xs;
            line-height: $line-height-h3-xs;
            font-weight: 700;
        }
    }
    .sectionLearningCloud{
        .sectionLearningCloud-info{
            .sectionLearningCloud-logo{
                .sectionLearningCloud-logo__image{
                    height: 40px;
                    min-width: 244px;
                    width: 244px;
                }
            }
            h3{
                font-size: $font-size-h3-xs;
                line-height: $line-height-h3-xs;
                max-width: 100%;
            }
        }
        .sectionLearningCloud-footer{
            h4{
                font-size: $font-size-h4-xs;
                line-height: $line-height-h4-xs;
                max-width: 100%;
                padding: 0 32px;
            }
            .sectionLearningCloud-kpis{
                .sectionLearningCloud-kpi{
                    h2{
                        font-size: $font-size-h3-xs;
                        line-height: $line-height-h3-xs;
                    }
                    p{
                        font-size: $font-size-p-xs;
                        line-height: $line-height-p-xs;
                    }
                }
            }
        }
    }
    .sectionLearningStudio{
        .sectionLearningStudio-info{
            .sectionLearningStudio-logo{
                .sectionLearningStudio-logo__image{
                    height: 40px;
                    min-width: 320px;
                    width: 320px;
                }
            }
            h3{
                font-size: $font-size-h3-xs;
                line-height: $line-height-h3-xs;
            }
        }
        .slider{
            display: none;
        }
        .slider560 {
            display: block;
            margin: auto;
            overflow:hidden;
            padding: 100px 0;
            position: relative;
            width: 100%;
            .slide-track {
                animation: scroll 20s linear infinite;
                display: flex;
                width: calc(443px * 10);
            }
            .slide {
                height: 497px;
                width: 443px;
            }
        }
        .sectionLearningStudio-footer{
          .sectionLearningStudio-footer-texts{
            h3{
                font-size: $font-size-h3-xs;
                line-height: $line-height-h3-xs;
            }
            p{
                font-size: $font-size-p-xs;
                line-height: $line-height-p-xs;
            }
          }
          .sectionLearningStudio-kpis{
            .sectionLearningStudio-kpi{
                h2{
                    font-size: $font-size-h3-xs;
                }
                p{
                    font-size: $font-size-p-xs;
                    line-height: $line-height-p-xs;
                }
            }
          } 
        }
    }
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-443px * 5))}
    }
    .sectionClients{
        h3{
            font-size: $font-size-h3-xs;
            line-height: $line-height-h3-xs;
        }
    }
}

// Animations
@keyframes fadeIn {
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-element {
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 1.35s ease-in;
    animation-fill-mode: forwards;
}

.fadeInUp {
    animation: fadeInUp 0.5s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.fadeInDown {
    animation: fadeInDown 1.35s ease-in;
    animation-fill-mode: forwards;
}